<h4 class="center-align">Welcome</h4>

<h5 class="center-align">Launch your digital presence today!</h5>

<div class="center-align">

    <p>

        <strong>
            Option 1
        </strong>- The Corporate
    </p>

    <div class="video-container">

        <iframe src="http://andrew.spcagent.io/" width="600" height="600"></iframe>
    </div>
</div>

<!-- <a class="waves-effect waves-light btn">Select Option</a> -->
<a class="waves-effect waves-light btn">View Live</a>

<ul class="collapsible" data-collapsible="accordion">
    <li>
        <div class="collapsible-header">
            <i class="material-icons">done</i><strong>  Step One </strong>  - Select your Template</div>
            <div class="collapsible-body">
                <p> Check box perhaps </p>
            </div>
    </li>
    <li>
        <div class="collapsible-header">
            <i class="material-icons">done</i>  <strong>  Step Two </strong>  - Select Bespoke Color Scheme</div>
        <div class="collapsible-body">
            <div class="color-palette">
                <img src="https://coolors.co/export/png/4c2e05-7a8450-aebd93-bee7b8-95969d" alt=""/>
            </div>
        </div>
    </li>
    <li>
        <div class="collapsible-header">
            <i class="material-icons">done</i>  <strong>  Step Three </strong>  - Select a Bespoke Font</div>
        <div class="collapsible-body">
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </li>
    <li>
        <div class="collapsible-header">
            <i class="material-icons">done</i><strong>  Step Four </strong> - Select a custom URL</div>
        <div class="collapsible-body">
                  <input id="search"> <i class="material-icons">search</i>

        </div>
    </li>
</ul>

<a class="waves-effect waves-light btn">Finalise Order</a>
