<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Parallax Template - Materialize</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body> -->
  <!-- <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav> -->

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center">Welcome to the Launchpad™</h1>
        <div class="row center">
          <h5 class="header col s12 light">Build your digital platform in minutes</h5>
        </div>
        <div class="row center">
          <a href="#info" id="download-button" class="btn-large waves-effect waves-light blue">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="space.jpg" alt="desk"></div>
  </div>


  <div class="container">
    <div id="info" class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">list</i></h2>
            <h5 class="center">Select</h5>

            <p class="light">
                Choose the template that suits you and your brand. We offer a selection of elegant and responsive designs to suit everyone from aspiring agent to industry veteran.
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">done</i></h2>
            <h5 class="center">Tailor</h5>

            <p class="light">
                Customize your selection to make it you own. Our curated gallery of colour pallettes and striking fonts allow you to design your own unique presence.
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">build</i></h2>
            <h5 class="center">Build</h5>

            <p class="light">
                In just a few clicks you have crafted you very own digital marketing platform. No code, no buzzwords, no nonsense. Just a bespoke website to showcase your biggest asset - you.
            </p>
          </div>
        </div>

        <!-- <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">local_bar</i></h2>
            <h5 class="center">Professional</h5>

            <ul class="collection">
                <li class="collection-item">7 sections</li>
                <li class="collection-item">Hard dicks</li>
                <li class="collection-item">Heaps of tits</li>
                <li class="collection-item">No AIDS</li>
                <li class="collection-item">Litres of lube</li>
                <li class="collection-item">No Jews</li>
                <li class="collection-item">SEO Blowjobs</li>
                <li class="collection-item">Rimjobs galore</li>
            </ul>
          </div>
        </div> -->

        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h2 class="header col s12 light">Minimal effort, maximum impact</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="colours.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h2 class="center blue-text"><i class="material-icons medium">backup</i></h2>
          <h4>Launch Yourself</h4>
          <p class="left-align light">
            We build superbly designed and impactful sites that don’t cost the universe.
            Our offering extends from strategy, to design and all the way through to development with our team comprising a range of highly skilled web developers, graphic designers and UX specialists.
          </p>

          <a href="/order" id="download-button" class="btn-large waves-effect waves-light blue">Build your platform</a>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h2 class="header col s12 light">Delight your customers</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="case.jpeg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer blue lighten-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">SPCAGENT is a team of creative, design and development profressionals that build tools to streamline you digital presence. We work with you to build some truly excellent.</p>
        </div>

        <div class="col l6 s12">
          <h5 class="white-text">Connect</h5>
          <a class="waves-effect waves-light btn-large black" href="mailto:launch@spcagent.io">Contact us</a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Powered by <a class="brown-text text-lighten-3" href="http://spcagent.io">SPCAGENT</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script> -->

  <!-- </body>
</html> -->
