<h5 class="center-align">Launch your digital presence today!</h5>


<script>
		jQuery(document).ready(function($) {
			$('.my-slider').unslider();
		});
	</script>


<div class="center-align">

  <p>
  <strong>  Option 1 </strong>- The Corporate
  </p>

<div class="my-slider">
	<ul>
		<li>
      <div class="mac-view">
        <div class="video-container">
          <iframe src="http://andrew.spcagent.io/" width="600" height="600"></iframe>
        </div>
      </div>
    </li>
		<li>Another slide</li>
		<li>My last slide</li>
	</ul>
</div>

<a class="waves-effect waves-light btn">Select Option</a>
<a class="waves-effect waves-light btn">View Live</a>


</div>
